@font-face {
    font-family: font;
    src: url(../fonts/TR-909.ttf);
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    font-size: 16px;   
    font-family: font; 
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    color: #D34C00;
    background-color: #B8B6B6;
}

h2 {
    font-size: 2rem;
    color: #D34C00;
    background-color: #B8B6B6;
}

ul li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 16px;
    border: 3px solid #D34C00;
    background-color: #7A7979;
    height: 100px;
    width: 100px;
    margin: 2rem;
    transition: all .05s ease-in;
}

ul {
    list-style: none;
    background-color: #B8B6B6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #B8B6B6;
    border: 10px solid #7A7979;
    width: 80%;
    padding: 2rem;
    margin: 5rem 0;
    height: auto;
}

.button-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 4rem 2rem;
}

ul li:hover {
    font-size: 1.1rem;
    cursor: pointer;
    background-color: green;
}